.cart {
    position: relative;

.cart-logo {
height: 60px;
width: 60px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-image: url(/public/images-final/cart.png);
position: relative;

.cart-num{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 4px;
    background-color: #473036;
    color: #fff;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
}

.cart-page {
    width: 500px;
    min-height: 200px;
    background-color: #FEFEFC;
    border: 2px solid #473036;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 0px;
    display: flex;
    flex-direction: column;

    .cart-title {
        color: #473036;
        font-family: Arial, Helvetica, sans-serif;font-weight: 600;
        font-size: 30px;
        margin: 0 auto;
        margin-top: 15px;
    }

    #remove {
        width: 90px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(/public/images-final/remove.png);
        position: absolute;
        right: 0;
        top: 20px;
        cursor: pointer;
    }

    .cart-coffee {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    .coffee-price {
        color: #D51610;
    }

    p {
        color: #473036;
        font-family: Arial, Helvetica, sans-serif;font-weight: 600;
        font-size: 15px;
        
    }
    }
}
}

.hidden {
  display: none !important;
}