.header {
    max-width: 100%;
    width: 100%;
    height: 100px;
    background-color: #ece9e4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    

    .logo {
        height: 60px;
        width: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(/public/images-final/keurig.png);
    }

    .search {
        max-width: 600px;
        width: 100%;
        height: 38px;
        background-color: #F3F3F3;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        

        .search-img {
            width: 120px;
            height: 38px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(/public/images-final/search.png);
        }
    }

    .text{
        height: 20px;
        width: 250px;
        //background-color: lightblue;
        margin-right: 30px;
        margin-left: 50px;

        h1 {
            color: #473036;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
        }
    }

    .icons {
        width: 300px;
        height: 50px;
        //background-color: purple;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        

        .support {
            height: 60px;
            width: 60px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(/public/images-final/support.png);
        }

        .account {
            height: 60px;
            width: 60px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(/public/images-final/account.png);
        }

        
        
    }
}

nav {
    max-width: 100%;
    width: 100%;
    height: 50px;
    background-color: #ece9e4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


  a {
  text-decoration: none;
  color: #473036;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}
}

